---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro'

import MarkCalkins from '../images/instructors/MarkCalkins.jpg'
import AnthonyChen from '../images/instructors/AnthonyChen.jpg'
import MichaelFaltesek from '../images/instructors/MichaelFaltesek.png'
import KerryKapaku from '../images/instructors/KerryKapaku.png'
import KylerMcKessy from '../images/instructors/KylerMcKessy.jpg'
import LunouSamsonPoirot from '../images/instructors/LunouSamsonPoirot.jpg'
import DanielSavage from '../images/instructors/DanielSavage.jpg'
import ShannonVarner from '../images/instructors/ShannonVarner.jpg'
---

<Layout title="Instructors">
<h2>Anthony Chen & Lunou Samson Poirot</h2>
<div class="row align-items-center">
	<div class="col-8">
		<p>Anthony's first ingress into the performing arts was at age 8 when his parents convinced him to learn and perform Chinese lion dances. Naturally, he then stumbled upon breakdancing during a national speech and debate tournament in middle school, and he had his first foray into swing dancing at age 16 alongside other young interns from a research laboratory. Since then, he has trained in other dance styles including West Coast Swing and various modern street dances, but most of all he enjoys using this background to expand upon his technique and creativity in Lindy Hop. On the social dance floor he is known to be playful, musical, creative, and clear.</p>
		<p> He holds first place titles from events such as International Lindy Hop Championships, Montreal Swing Riot, Camp Hollywood, Lindy Focus, and Lindyfest and Lone Star Championships. His love of both leading and following, combined with his professional background in education, make the classes that he teaches both clear and intuitive. He is an active scene builder in his community and founded Salt City Swing, a non-profit in Utah where he teaches locally.</p>
	</div>
	<div class="col">
		<Image src={AnthonyChen} class="img-fluid" alt="Anthony Chen; Photo Credit: Alan Wong" />
	</div>
</div>
<div class="row align-items-center">
	<div class="col">
		<Image src={LunouSamsonPoirot} class="img-fluid" alt="Lunou Samson Poirot" />
	</div>
	<div class="col-8">
		<p>Hailing from Quebec, Lunou has been swing dancing since 2003. Known for her contagious dynamism, she developed her own style, bringing positive energy to the dance floor.</p>
		<p>Teacher by formation, she loves to help dancers grow and find their way in the dance. For Lunou, it’s all about the community; that’s why she dedicated 22 years (and counting!) of her life to this dance: teaching, coaching teams, creating projects and performing in dance productions and teams across North America. She has been part of the Cat`s Corner family from 2011 to 2020 and a member of the Northern Lights dance crew from 2008 to 2018.</p>
		<p>Lunou used to compete a lot. Through the years she won many titles in events such as ALHC, ILHC, Camp Jitterbug, CSC. She has also been teaching at international events like the Dirty Dozen Weekend in Providence, NH, Boston Tea Party, Beantown Dance Camp and Camp Hollywood.</p>
		<p>She is very excited to see new dancers grow and help them discover the dance.</p>
	</div>
</div>
<br />
<h2>Michael Faltesek & Kerry Kapaku</h2>
<div class="row align-items-center">
	<div class="col-8">
		<p>Dancer. Musician. Entertainer. Michael Faltesek has been teaching and performing for over 21 years. He was a Professor of Dance at the University of Washington and his choreography was called “genius” by the New York Times. Falty has been fortunate enough to learn directly from the originators of swing dancing and is always enthusiastic about spreading his passion for jazz.</p>
		<p>Falty brings to the dance floor an incredibly diverse social and performance dance talent that includes not only Lindy Hop but also Cakewalk, Black Bottom, Traditional Jazz, Tap, Charleston, Breakaway, Balboa, Big Apple, Blues and many other Authentic American Jazz dances.  So basically all of the swing dancing.</p>
		<p>In his 21 years of teaching and performing, Falty has traveled all over the globe, from Harlem to Los Angeles, Canada to Korea, and all throughout Europe. Falty is well known for his charismatic personality, approach-ability and passion for the essence of authentic jazz dance and music.  He possesses an enthusiastic ability to convey ideas and movements explicitly, making him a popular instructor wherever he goes. He has taught hundreds of workshops here and abroad, each time leaving a lasting impression on his students.</p>
		<p>Falty’s main sources of inspiration are the greats of yesteryear. Dancers and performers like Whitey’s Lindy Hoppers, the Nicholas Brothers, Bill “Bojangles” Robinson, John Bubbles, Earl “Snakehips” Tucker, and the Berry Brothers.</p>
	</div>
	<div class="col">
		<Image src={MichaelFaltesek} class="img-fluid" alt="Michael Faltesek" />
	</div>
</div>
<div class="row align-items-center">
	<div class="col">
		<Image src={KerryKapaku} class="img-fluid" alt="Kerry Kapaku" />
	</div>
	<div class="col-8">
		<p>Kerry Kapaku is a dancer, teacher, competitor, and performer based in Chicago, IL. While she's been dancing her whole life (including a concert dance performing career and a BFA in Dance from Ohio State University), Kerry was introduced to the wonderful world of lindy hop while attending OSU, and has been hooked ever since. In the classroom, Kerry strives to cultivate an upbeat and encouraging environment for all of her students, while emphasizing creativity, authenticity, and self expression. Kerry holds competitive titles from events such as ILHC, Nevermore Jazz Ball, Lindy Focus, Camp Hollywood, and more. At home, Kerry serves as a board member, instructor and choreographer for Traffic Jam Swing.</p>
	</div>
</div>
<br />
<h2>Kyler McKessy & Daniel Savage</h2>
<div class="row align-items-center">
	<div class="col-8">
		<p>Kyler McKessy (he/him) is an internationally-tolerated Lindy Hop and Vernacular Jazz dancer from Baltimore, Maryland. He first got his claws into the scene shortly post-pandemic and has absolutely refused to exit a dance floor since. An ambi-dancer since birth, Kyler values clear and precise lead and follow mechanics as a pathway to self expression both on the floor and in the classroom, and strives to use his experience in both roles to craft classes that offer something tangible to all students. On the contest floor, Kyler has earned multiple titles from Camp Hollywood, Herrang Dance Camp, and more, but his heart lies with his local scene at the Mobtown Ballroom in Baltimore, where he teaches and DJs regularly. Find him @kylermckessy on instagram and whatever other platforms people use these days, or at 3am on a dancefloor near you!</p>
		<p>Photo credit: <a href="http://jsalmonteproductions.com">Jerry Almonte</a></p>
	</div>
	<div class="col">
		<Image src={KylerMcKessy} class="img-fluid" alt="Kyler McKessy" />
	</div>
</div>
<div class="row align-items-center">
	<div class="col">
		<Image src={DanielSavage} class="img-fluid" alt="Daniel Savage" />
	</div>
	<div class="col-8">
		<p>Daniel Savage is a Lindy Hop and Solo Jazz dancer, competitor, and instructor based out of the Mobtown Ballroom in Baltimore. He has spent the last 9 years on a grand adventure all across America to study Lindy Hop and dance in the local communities. On his travels, he has gathered a suite of technical tidbits, silly steps, and homebrewed hacks that he is dying to share with you. He can often be found late at night displaying a seemingly limitless appetite for dance and conversation.</p>
		<p>Photo credit: <a href="http://jsalmonteproductions.com">Jerry Almonte</a></p>
	</div>
</div>
<br />
<h2>Mark Calkins & Shannon Varner</h2>
<div class="row align-items-center">
	<div class="col-8">
		<p>Mark Calkins started his dance journey in the early aughts fascinated by the combined energy and musicality of swing-era dances. Based out of Columbus, Ohio, Mark has spent many years helping foster the local and regional scenes through event organizing, music appreciation, teaching and choreography. He brings a thoughtful and adaptive approach, seeking collaborative connections while jamming to the music. He is thrilled to be teaching again at Smackdown with his longtime dance partner Shannon Varner!</p>
	</div>
	<div class="col">
		<Image src={MarkCalkins} class="img-fluid" alt="Mark Calkins" />
	</div>
</div>
<div class="row align-items-center">
	<div class="col">
		<Image src={ShannonVarner} class="img-fluid" alt="Shannon Varner" />
	</div>
	<div class="col-8">
		<p>Shannon enjoys sharing Lindy Hop and believes it is a wonderful way to connect history and humanity with all generations. She has been fortunate to collect a few awards and experiences along her dance journey, such as the Nevermore Jazz Ball, American Lindy Hop Championships and “PBS’ Swingin with the Duke” with Wynton Marsalis and the Lincoln Center Jazz Orchestra.   She values teaching the skills that allow dancers to connect to the music, and to each other, to create a beautiful, fleeting dance in the moment.  She truly believes dance is for everyone -- and wants more folks to dance with -- so please ask her to dance!</p>
		<p>Photo credit: <a href="http://jsalmonteproductions.com">Jerry Almonte</a></p>
	</div>
</div>
</Layout>
